@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

.nav {
  height: 6vh;
  width: 100%;
  background-color: #706b6b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Zen Tokyo Zoo";
  font-size: 35px;
  cursor: pointer;
}
.home {
  box-sizing: border-box;
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  height: 50%;
  width: 50%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
button {
  width: 7em;
  height: 2.5em;
  margin: 10px;
  font-size: 22px;
  font-weight: 400;
  font-family: "sans";
  color: whitesmoke;
  background-color: rgb(56, 53, 53);
  box-shadow: 2px 3px 5px rgb(102, 101, 101);
  border-radius: 10px;
  border: none;
  transition: 0.2s;
}
button:active {
  box-shadow: none;
}
.btns > button:hover {
  background-color: #878484;
}
#gen {
  background-color: #3da27e;
  color: whitesmoke;
}
#down {
  background-color: #5b3492;
  color: whitesmoke;
}
#down:hover {
  background-color: #7140b6;
}
#gen:hover {
  background-color: #4dcb9f;
}
